%h1 Recent happies for your enjoyment...

%h2= flash[:notice]

%table
  %thead
    %tr
      %th Happy
      %th Date
  %tbody
    - @happies.each do |happy|
      %tr
        %td= happy.text
        %td= happy.date
